@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap");
.navbar-link {
  color: gray;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "MuseoModerno", cursive;
}

.About-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.About-container .button {
  margin-top: 20px;
}

.About-container p {
  width: 50%;
  line-height: 2rem;
  padding: 0.5rem;
}

.LandingImage {
  margin: 2.5rem;
}

.LandingImage img {
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs {
  text-align: left;
}

.blogs .blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80rem;
          flex: 1 1 80rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.5rem;
  width: 600px;
  cursor: pointer;
  margin: 1.5rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.blog h2 {
  font-size: 1.5rem;
}

.blog img {
  -o-object-fit: contain;
     object-fit: contain;
  border-right: 2px solid black;
  padding: 1.5rem;
  height: 20vh;
  margin: 1.5rem;
}

.blog::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  content: "";
  opacity: 0;
  z-index: -1;
}

.blog:hover, .blog:focus {
  -webkit-transform: scale3d(1.006, 1.006, 1);
          transform: scale3d(1.006, 1.006, 1);
}

.blog:hover::after, .blog:focus::after {
  opacity: 1;
}

.tags {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tags .ui-tag {
  margin: 0 10px;
}

@media screen and (max-width: 900px) {
  .blog-container {
    width: 100%;
  }
  .blog {
    width: 95%;
  }
  .blog__desc {
    width: 95%;
  }
}

ol.gradient-list > li, ol.gradient-list > li::before {
  -webkit-box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
          box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

.list-container {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}

.checkbox {
  position: absolute;
  right: 10px;
  top: 15px;
}

.checkbox-span {
  font-size: 60%;
}

ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
}

ol.gradient-list > li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  counter-increment: gradient-counter;
  margin-top: 1rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}

ol.gradient-list > li::before, ol.gradient-list > li::after {
  background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
  border-radius: 1rem 1rem 0 1rem;
  content: "";
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}

ol.gradient-list > li::before {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  content: counter(gradient-counter);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 900 1.5em/1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}

ol.gradient-list > li:nth-child(10n + 1):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.2) 0%, rgba(253, 220, 50, 0.2) 100%);
}

ol.gradient-list > li:nth-child(10n + 2):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.4) 0%, rgba(253, 220, 50, 0.4) 100%);
}

ol.gradient-list > li:nth-child(10n + 3):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.6) 0%, rgba(253, 220, 50, 0.6) 100%);
}

ol.gradient-list > li:nth-child(10n + 4):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.8) 0%, rgba(253, 220, 50, 0.8) 100%);
}

ol.gradient-list > li:nth-child(10n + 5):before {
  background: linear-gradient(135deg, #a2ed56 0%, #fddc32 100%);
}

ol.gradient-list > li:nth-child(10n + 6):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.8) 0%, rgba(253, 220, 50, 0.8) 100%);
}

ol.gradient-list > li:nth-child(10n + 7):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.6) 0%, rgba(253, 220, 50, 0.6) 100%);
}

ol.gradient-list > li:nth-child(10n + 8):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.4) 0%, rgba(253, 220, 50, 0.4) 100%);
}

ol.gradient-list > li:nth-child(10n + 9):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.2) 0%, rgba(253, 220, 50, 0.2) 100%);
}

ol.gradient-list > li:nth-child(10n + 10):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0) 0%, rgba(253, 220, 50, 0) 100%);
}

ol.gradient-list > li + li {
  margin-top: 2rem;
}

@media screen and (max-width: 800px) {
  .checkbox {
    display: none;
  }
}

footer {
  background: #eeee;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

footer p {
  margin-bottom: 15px;
}

footer li {
  padding: 0.5rem;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  border-radius: 2px;
}

footer li:hover,
footer li:focus {
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

footer ul {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

textarea {
  height: 200px;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.button {
  border-radius: 10px;
}

input:focus,
textarea:focus {
  border: cornflowerblue 2px solid;
}

@media screen and (max-width: 700px) {
  .About-container p {
    width: 95%;
  }
}
/*# sourceMappingURL=main.css.map */